<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="demo" verbose="2">
  <test name="demo Test">
    <parameter name="sUsername" value="test1" />
  	<parameter name="password" value="123" />
    <classes>
      <class name="TESTNG.TestNGXmlTest"/><!-- f1 -->
      <class name="TESTNG.NewTest"/><!-- f2 -->
    </classes>
  </test> 
</suite> 
